@import "media";

::placeholder {
  color: $blueColor;
  font-family: "OpenSansSemibold";
  font-size: 20px;

  @include media-breakpoint-up(md) {
    font-size: 18px;
  }
}

//::selection {
//  background-color: $accent;
//  color: #fff;
//}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: $default-font;
  overflow-x: hidden;
  button {
    outline: none;
    cursor: pointer;
    &:hover {
      outline: none;
    }
    &:active {
      outline: none;
    }
  }
  input, textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  &.img-width {
    width: 100%;
  }
}

.text-center {
  text-align: center;
}

b, strong {
  font-weight: bold;
}

.content {
  width: 86%;
  margin: 0 auto;
  box-sizing: border-box;

  @include media-breakpoint-up(md) {
    width: 100%;
    padding: 0 20px;
  }


}
.content-full {
  width: 100%;
  display: block;
  box-sizing: border-box;
}
