//section.home-background {
 header {
   button.user-drop {
     background: none;
     border: none;
     display: flex;
     align-items: center;
     font-family: OpenSansBold;
     color: #0f3358;
     font-size: 18px;
     @include media-breakpoint-up(md) {
       font-size: 16px;
       margin-top: 10px;
     }
     img {
       width: 43px;
       height: 43px;
       margin-right: 20px;

       @include media-breakpoint-up(md) {
         display: none;
       }
     }
     &:after {
       content: '';
       background-image: url(../../img/login/selected.png);
       background-repeat: no-repeat;
       background-position: center center;
       display: block;
       height: 7px;
       width: 30px;
       background-size: 16px 8px;
     }
   }
   .user-drop-wrapp {
     box-shadow: 0 0 15px 0 #e7e0e0;
     position: absolute;
     top: 100px;
     right: 100px;
     background: #fff;
     z-index: 10;
     display: none;
     ul {
       li {
         display: block;
         margin-right: 0;
         padding: 20px 30px 15px 20px;
         transition: all 0.3s ease-in-out;
         border-left: 5px solid #fff;
         a {
           font-family: OpenSansBold;
           color: #0f3358;
           font-size: 18px;

         }
         &:hover {
           background: #FDECEB;
           border-left: 5px solid $redColor;
         }
       }
     }
  &:before {
    content: '';
    background-image: url(../../img/login/corner.png);
    background-repeat: no-repeat;
    background-position: top right;
    display: block;
    height: 40px;
    width: 100px;
    position: absolute;
    top: -38px;
    right: 0;
  }
   }

 }
//}
