@import "../inc/header";

section.reset-password {
  .reset-password-wrapp {
    width: 76%;
    margin: 0 auto;
    @include media-breakpoint-up(md) {
      width: 100%;
    }
    .title {
      margin: 80px 0 70px 0;

      h1 {
        font-family: OpenSansBold;
        color: #0f3358;
        font-size: 25px;
      }
    }

    .reset-box-wrapp {
      display: flex;
      align-items: center;
      margin: 25px 0;

      @include media-breakpoint-up(md) {
       flex-direction: column;
      }

      .left {
        flex-basis: 40%;
        @include media-breakpoint-up(md) {
          flex-basis: 100%;
          width: 100%;

        }
        label {
          font-family: OpenSansSemibold;
          font-size: 18px;
          color: #0f3358;

          span {
            font-size: 18px;
            color: red;
            margin: 0 15px 0 0;
          }
        }

      }
      .right {
        flex-basis: 60%;
        @include media-breakpoint-up(md) {
          flex-basis: 100%;
          width: 100%;
        }
        .lg-forms {
          width: 100%;
          background: #FBFBFB;
          border-radius: 12px;
          border: 0;
          padding: 20px;
          box-sizing: border-box;
        }



      }

    }
    .btn-box {
      margin: 50px 0 200px;
      text-align: right;

      .cancel {
        font-size: 18px;
        background: #EFEFEF;
        padding: 16px 20px;
        border-radius: 37px;
        color: $blueColor;
        transition: all .4s ease-in-out;
        margin-right: 20px;
        border: 1px solid #EFEFEF;
        @include media-breakpoint-up(md) {
          width: 100%;
          margin: 20px 0;
        }
        &:hover {
          border: 1px solid $blueColor;
          color: $blueColor;
          background: #fff;
        }

      }
      .change {
        font-size: 18px;
        background: #e6443b;
        padding: 16px 20px;
        margin-right: 0;
        border-radius: 37px;
        color: #fff;
        transition: all .4s ease-in-out;
        border: 1px solid $redColor;
        @include media-breakpoint-up(md) {
          width: 100%;
        }

        &:hover {

          color: $redColor;
          background: #fff;
        }

      }
    }
  }

}