section.login {
  height: 100vh;
  .login-wrapp {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 0 50px 0;

    @include media-breakpoint-up(md) {
      flex-direction: column-reverse;
    }

    .login-left {
      flex-basis: 40%;
      padding:70px 50px 30px;

      .log-title {
        h1 {
          color: $blueColor;
          font-size: 40px;
          text-align: left;
          font-family: 'OpenSansBold';
          @include media-breakpoint-up(md) {
            text-align: center;
            font-size: 32px;
          }

          @include media-breakpoint-up(sm) {
            font-size: 24px;
          }
        }

        p {
          font-family: 'OpenSansLight';
          font-size: 20px;
          color: $blueColor;
          margin: 12px 0 60px;
          @include media-breakpoint-up(md) {
            text-align: center;
            font-size: 18px;
          }
        }
      }
      form.login {
        width: 600px;
        @include media-breakpoint-up(md) {
          width: 100%;
        }
        .input-box.right {
          text-align: right;
          margin-bottom: 50px;
          a {
            font-family: OpenSansBold;
            font-size: 16px;
            color: #0f3358;
          }
        }

        .input-box {
          margin: 18px 0;

          input.lg-forms {
            width: 100%;
            background: #fbfbfb;
            border: none;
            border-radius: 34px;
            font-size: 20px;
            color: #959595;
            padding: 19px 30px;
            box-sizing: border-box;
            height: 60px;

            @include media-breakpoint-up(md) {
              font-size: 18px;
              padding: 10px 22px;
            }

          }

          button {
            font-family: 'OpenSansBold';
            background: $redColor;
            margin-right: 0;
            border-radius: 37px;
            color: #fff;
            width: 100%;
            border: 1px solid $redColor;
            padding: 10px 30px;
            font-size: 20px;
            text-transform: uppercase;
            height: 60px;
            transition: all 0.4s ease-in-out;

            &:hover {
              border: 1px solid $redColor;
              color: $redColor;
              background: #fff;
            }

            @include media-breakpoint-up(md) {
              font-size: 18px;
              padding: 10px 22px;
            }
          }
        }

        .or-box {
          margin: 50px 0px;

          .border {
            width: 130px;
            border-bottom: 1px solid #979797;
            margin: 0 auto;
            position: relative;

            span {
              position: absolute;
              background: #ffff;
              top: -17px;
              left: 36px;
              width: 55px;
              text-align: center;
              font-size: 20px;
              color: #979797;
            }

          }
        }

        .social-register {
          ul {
            margin: 39px 0 40px;
            display: flex;
            justify-content: center;

            li {
              margin: 0 30px;
            }
          }

          p {
            font-family: 'OpenSansBold';
            font-size: 16px;
            color: $blueColor;
            @include media-breakpoint-up(md) {
              text-align: center;
            }

            a {
              text-transform: uppercase;
              font-family: 'OpenSansBold';
              font-size: 16px;
              color: $blueColor;
              text-decoration: underline;
              text-underline-position: under;
              margin-left: 10px;

            }
          }
        }
      }
      @include media-breakpoint-up(md) {
       width: 100%;
        padding: 20px;
        box-sizing: border-box;
      }

    }
    .login-right {
      flex-basis: 50%;
      .login-cloud1 {
        position: absolute;
        right: 34%;
        top: 24%;
        animation: login-cloud 7s ease infinite;

        @keyframes  login-cloud {
          0% {
            right: 34%;
            top: 24%;
          }
          50% {
            right: 37%;
            top: 24%;
          }
          100% {
            right: 34%;
            top: 24%;
          }
        }

        @include media-breakpoint-up(md) {
         display: none;
        }
        img {
          width: 90px;
          z-index: -1;
        }
      }
      //.img-bg-login {
        //text-align: end;
        //position: relative;
        //top: 110px;

        @include media-breakpoint-up(md) {
          top: 0;
        }
        img {
          position: relative;
          bottom: 0;
          right: -25%;
          @include media-breakpoint-up(md) {
            right: 0;
          }
        //}
      }
    }
  }

}